<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
        
    <form>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
    
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col">
                                    <h4 class="text-center">Fixed Deposit</h4>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col">
                                    <hr>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="ml-2">Customer Name</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="customer name" id="cstname">
                                    </div>
                                </div>
    
                                <div class="col-md-6 mt-2">
                                    <label class="ml-2">Term Duration</label>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">3 mon</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">6 mon</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                            <label class="form-check-label" for="inlineRadio3">12 mon</label>
                                          </div>
                                    </div>
                                </div>
                                </div>
                            
    
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="ml-2">Deposite Amount</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="amount" id="fdamount">
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <label class="ml-2">Account Holder Name</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" id="accholdername">
                                    </div>
                                </div>
    
                                </div>
    
                                <div class="form-group mt-2">
                                    <input type="button" id="loginbutton" class="btn btn-outline-warning btn-block btn-lg" value="Submit">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>