
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <form method="POST" action="/post_withdrawl">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h4 class="text-center">Withdrawl Money</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label class="ml-2">Customer Name</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="customer name" id="cstname">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="ml-2">Account Number</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="account number" id="accountNumber">
                                </div>
                            </div>
                            </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label class="ml-2">Withdrawl Amount</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="enter amount" id="withdrwlAmount">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="ml-2">Date</label>
                                <div class="form-group">
                                    <input type="Date" class="form-control" placeholder="enter amount" id="withdrwlAmount">
                                </div>
                            </div>

                            </div>

                            <div class="form-group mt-2">
                                <input type="button" id="loginbutton" class="btn btn-outline-secondary btn-block btn-lg" value="Proceed">
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</body>
</html>